/* Colors variables */
/* :root {
    --black: var(--black, #2B2A29);
    --color: var(--white, #fefefe);
    --color: var(--black-mid-tone, #4A4948);
    --color: var(--red, #AF222A);
    --color: var(--grey-gradient, linear-gradient(90deg, #E2E3E3 0%, #F5F5F5 100%));
} */

:root {
    --black: #2B2A29;
    --white: #fefefe;
    --black-mid-tone: #4A4948;
    --red: #AF222A;
    --grey-gradient: linear-gradient(90deg, #E2E3E3 0%, #F5F5F5 100%);
    --red-gradient: linear-gradient(95deg, #AF222A 30%, #BA222B 64%, #C53C43 100%);
    --red-holding-gradient: linear-gradient(179.41deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(175, 34, 42, 0.5) 42.30763018131256%,
            rgba(175, 34, 42, 1) 80.76916337013245%);
    --red-slider-gradient: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(175, 34, 42, 0.4) 20.67301869392395%, rgba(175, 34, 42, 1) 39.72383737564087%);

}


body {
    width: 100%;
    background-color: var(--white);
    margin: 0px;
    font-family: "Lato-regular", sans-serif;
    color: var(--black);
}

p {
    text-align: justify;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 36px;
    margin: 0;
}

h4 {
    font-size: 30px;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: var(--white);
    height: 100px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

header>ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px 155px;
    padding: 0;
}

header>ul>li {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.btn-soft {
    background-color: var(--white);
    border: 0;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
    width: 200px;
    height: 50px;
    color: var(--red, #af222a);
    text-align: left;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.btn-soft-reverse {
    background-color: var(--red);
    border: 0;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
    width: 200px;
    height: 50px;
    color: var(--white, #af222a);
    text-align: left;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.btn {
    background-color: var(--red);
    border: 0;
    border-radius: 10px;
    color: var(--white);
    width: 200px;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 100px;
}

main>section {
    margin: 0px 155px 80px 155px;
}

.swiper {
    padding-bottom: 80px;
}

.swiper-slide {
    background-image: url(https://picsum.photos/id/1025/1440/800);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    z-index: 0;
}

.slide-content {
    width: 50%;
    height: 800px;
    background: var(--red-slider-gradient);
    position: absolute;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-left: 120px;
}

.achievement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1130px;
    height: 470px;
}

.achievement-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.achievement-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

.achievement-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background: var(--grey-grad-test,
            linear-gradient(90deg,
                rgba(226, 227, 227, 1) 0%,
                rgba(245, 245, 245, 1) 100%));
    border-radius: 10px;
    box-shadow: var(--shadow-box-shadow, 0px 1px 10px 0.5px rgba(0, 0, 0, 0.2));
    padding: 20px 20px 20px 10px;
    gap: 16px;
    /* justify-content: space-between; */
    /* align-self: stretch; */
    /* position: relative; */
}

.achievement-block>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.achievement-block>div>h1 {
    font-size: 80px;
    color: var(--black-mid-tone);
}

.achievement-block>div>h4 {
    color: var(--red);
    font-weight: lighter;
}

.activity {
    width: 1130px;
    display: grid;
    grid-template-columns: repeat(12, 78px);
    grid-template-rows: repeat(6, 1fr);
    gap: 18px;
}


.activity>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity>div>div>h3 {
    font-weight: lighter;
    padding-bottom: 24px;
}

.activity img {
    border-radius: 10px;
}

/* template */
/* grid-area: row-start / column-start / row-end / column-end; */


.distribution {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    gap: 80px;
}

.production {
    display: flex;
    grid-area: 2 / 1 / 3 / 8;
    gap: 60px;
}

.international-log {
    grid-area: 2 / 9 / 4 / 13;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.warehouse-log {
    grid-area: 3 / 2 / 5 / 6;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.building {
    grid-area: 4 / 7 / 5 / 13;
    display: flex;
    gap: 40px;
}

.recyclable {
    grid-area: 5 / 2 / 6 / 10;
    display: flex;
    gap: 60px;
}

.retail {
    grid-area: 6 / 5 / 7 / 12;
    display: flex;
    gap: 60px;
}

.partners>div {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 155px;
}

.marquee-container {
    overflow: hidden;
    padding: 32px 0;
}

.marquee-track {
    display: flex;
    gap: 40px;
    align-items: center;
}

.marquee-track>div {
    width: 200px;
}

.marquee-track>div>img {
    user-select: none;
}

.right-to-left .marquee-track {
    animation: move-left 30s linear infinite;
}

.left-to-right .marquee-track {
    animation: move-right 30s linear infinite;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}



footer {
    width: 100%;
    display: flex;
    gap: 40px;
    height: 420px;
    box-sizing: border-box;
}

.footer-left {
    flex: 1;
    /* width: 30%; */
    padding: 40px 0 40px 40px;
    background: var(--white);
    color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-right {
    flex: 2, 5;
    /* width: 75%; */
    padding: 40px 40px;
    display: flex;
    gap: 24px;
    background: var(--red-gradient);
    color: var(--white);
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-contacts>h5 {
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
}

.footer-contacts>div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-left>div>img {
    padding-right: 32px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-nav>div {
    display: flex;
    gap: 40px;
    padding: 0 16px;
}

.footer-nav-left>ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.footer-nav-right>ul {
    padding: 0;
    margin: 0;
    width: 80%;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.footer-nav-item {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 8px;
}

.footer-company>div {
    display: flex;
    position: relative;
    padding-left: 4px;
    justify-content: space-between;
    width: 100%;
    /* gap: 16px; */
}

.footer-company>div>img {
    color: var(--white);
    width: 90px;
    height: 100px;
}

/* page about-company */
.about-company {
    padding-top: 80px;
    display: flex;
}

.about-company-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-company-right {
    width: 40%;
    text-align: right;
}

.slide-content-2 {
    background-image: url(https://picsum.photos/id/1025/1440/800);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    /* z-index: 0; */
}

.honour {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.honour>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.honour-heading {
    padding: 15px;
    width: 24%;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.honour-heading h3 {
    font-weight: lighter;
}

.honour-btn {
    padding: 15px;
    width: 24%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.honour-block {
    background: var(--grey-gradient);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--red, #af222a);
    border-width: 5px 0px 0px 0px;
    padding: 20px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 24%;
    height: 230px;
    position: relative;
    box-shadow: var(--shadow-box-shadow, 0px 1px 10px 0.5px rgba(0, 0, 0, 0.2));
}

.honour-block h1 {
    font-size: 96px;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.mission-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mission-block {
    background: var(--red-gradient);
    color: var(--white);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 27%;
    height: 300px;
    position: relative;
    box-shadow: var(--shadows-box-shadow, 0px 10px 40px 0px rgba(0, 0, 0, 0.2));
}

.value {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.value-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.value>div {
    padding: 20px;
    width: 25%;
}

.animation-item {
    display: flex;
    justify-content: center;
}

.value-block {
    background: var(--grey-gradient);
    border-radius: 10px;
    /* padding: 20px;
    width: 25%; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 300px;
    position: relative;
    box-shadow: var(--shadow-box-shadow, 0px 1px 10px 0.5px rgba(0, 0, 0, 0.2));
}

.holding-wrapper {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.holding-block {
    width: 27%;
    height: 450px;
}

.holding-block-bg {
    background-image: url(https://picsum.photos/id/1025/1440/800);
    aspect-ratio: 1440 / 800;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.holding-block-heading {
    height: 125px;
    background: var(--red-holding-gradient);
    color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.holding-block-heading h3 {
    font-weight: lighter;
}

.history {
    display: flex;
}

.history-description {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.history-img {
    width: 40%;
    text-align: right;
}

.map {
    width: 100%;
    height: 1000px;
    position: relative;
}

.map>img {
    display: block;
    width: 100%;
    height: 100%;
}

.map>svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.city-marker {
    fill: var(--red);
}

/* activity-page */

.activity-wrapper {
    padding: 80px 155px;
    display: flex;
    gap: 60px;
}

.activity-wrapper-reverse {
    padding: 80px 155px;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
}

.activity-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.activity-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.activity-text h3 {
    font-weight: lighter;
}

.activity-img img {
    border-radius: 10px;
}

/* partners-page */
.partners-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.filter {
    width: 120px;
    padding: 10px 10px;
    background: var(--grey-gradient);
    color: var(--black-mid-tone);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
}

.partners-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.logo-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 16px 16px;
    border-radius: 10px;
}

.logo {
    text-align: center;
}

.logo img {
    color: var(--black);
    width: 100px;
    height: 90px;
}

.logo-title {
    text-align: center;
}