.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    height: calc(100dvh - 80px);
    overflow: hidden;
    /* background-image: url(https://picsum.photos/id/1025/1440/800); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--red-slider-gradient);
    z-index: 1;
    pointer-events: none;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.carousel-item.active {
    opacity: 1;
    pointer-events: auto;
    position: relative;
}

.slide-content {
    width: 50%;
    height: 100%;
    /* Remove background gradient from here */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 0;
    color: var(--white);

    h2 {
        padding: 0 10%;
    }

    p {
        padding: 0 10%;
    }

    .carousel-controls-row {
        padding: 0 10%;
    }
}

.carousel-indicators {
    position: static;
    display: flex;
    gap: 12px;
    margin: 0 8px;
}

.carousel-indicators button {
    position: relative;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 24px;
    background: white;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.carousel-indicators button.active {
    width: 60px;
    background: white;
}

.carousel-indicators button span {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    background: var(--red);
    border-radius: inherit;
    transition: width 0.5s;
    z-index: 1;
    opacity: 0;
    width: 10%;
}

.carousel-indicators button.active span {
    width: 90%;
    transition: width 0.5s;
    opacity: 1;
}

.carousel-control {
    position: static;
    transform: none;
    background: rgba(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 1023px) {
    .carousel-indicators button {
        width: 18px;
        height: 18px;
    }

    .carousel-indicators button.active {
        width: 45px;
    }

    .carousel-control {
        width: 30px;
        height: 30px;
    }

    .carousel-control svg {
        width: 15px;
        height: 15px;
    }
}

/* @media (width <=1023px) {
    .carousel-indicators button {
        width: 14px;
        height: 14px;
    }

    .carousel-indicators button.active {
        width: 35px;
    }

    .carousel-control {
        width: 24px;
        height: 24px;
    }

    .carousel-control svg {
        width: 12px;
        height: 12px;
    }
} */

.carousel-controls-row {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 24px;
}

@media (max-width: 599px) {
    .slide-content {
        width: 100%;
        height: 30%;
        top: auto;
        bottom: 0;
        gap: 24px;
        justify-content: flex-start;
    }

    /* .carousel {
        position: relative;
    } */

    .carousel::before {
        bottom: 0;
        left: 0;
        top: auto;
        width: 100%;
        height: 40%;
        background: var(--red-holding-gradient-hover);
        /* transform-origin: bottom left; */
    }

    .carousel-controls-row {
        bottom: 24px;
    }
}

@media (max-width: 499px) {
    .slide-content {
        .carousel-controls-row {
            padding: 0;
        }
    }

    .carousel-controls-row {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
    }
}

.achievement {
    display: flex;
    gap: 5%;

    .block-wide {
        gap: 2%;
    }

    .block-wide .block-text {
        width: 70%;
    }
}


@media (min-width: 1201px) and (max-width:1220px) {
    .achievement {
        gap: 5%;
    }

    .achievement>.block-description {
        width: 35%;
    }
}

@media (max-width:1023px) {
    .achievement {
        gap: 40px;
        flex-direction: column;

        .block-wide {
            padding: 8px;

            .counter-container {
                min-width: 32%;
            }

            .block-text {
                width: 66%;
            }

            .counter {
                font-size: 36px;
            }
        }
    }

    @media (max-width:1023px) {
        .achievement {
            .block-wide {
                padding: 8px 8px 8px 0;
                min-height: 95px;

                h4 {
                    font-size: 16px;
                }
            }
        }
    }

    .achievement>.block-description>.block-text {
        flex-direction: column-reverse;
    }

    .block-description {
        width: 100%;
        gap: 24px;
    }

    .block-wide-wrapper {
        width: 100%;
    }


}

.activity {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 18px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .activity .container-text {
        gap: 12px;
    }

    h3 {
        font-size: 24px;
    }
}


/* template */
/* grid-area: row-start / column-start / row-end / column-end; */

.distribution {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    gap: 8%;

    .container-img {
        width: 52%;
    }

    .container-text {
        width: 40%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* @media (max-width: 1023px) {
    .distribution {
        grid-area: 1 / 1 / 2 / 13;
        flex-direction: column;
    }
} */

.production {
    display: flex;
    align-items: center;
    grid-area: 2 / 1 / 3 / 8;
    gap: 7%;

    .container-img {
        width: 33%;
    }

    .container-text {
        width: 60%;
    }

    img {
        width: 100%;
    }
}

/* @media (max-width: 1023px) {
    .production {
        grid-area: 2 / 1 / 3 / 13;
        flex-direction: column;
    }
} */

.international-log {
    grid-area: 2 / 9 / 4 / 13;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .container-img {
        width: 100%;
    }

    .container-text {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

/* @media (max-width: 1023px) {
    .international-log {
        grid-area: 3 / 1 / 4 / 13;
    }
} */

.warehouse-log {
    grid-area: 3 / 2 / 5 / 6;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .container-img {
        width: 100%;
    }

    .container-text {
        width: 100%;
    }

    img {
        width: 100%;
    }

}

/* @media (max-width: 1023px) {
    .warehouse-log {
        grid-area: 4 / 1 / 5 / 13;
    }
} */

.building {
    grid-area: 4 / 6 / 5 / 13;
    display: flex;
    align-items: center;
    gap: 7%;

    .container-img {
        width: 46%;
    }

    .container-text {
        width: 47%;
    }

    img {
        width: 100%;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {

    .building h3,
    .building p {
        width: 120%;
    }
}

/* @media (max-width: 1023px) {
    .building {
        flex-direction: column;
        grid-area: 5 / 1 / 6 / 13;
    }
} */

.recyclable {
    grid-area: 5 / 2 / 6 / 10;
    display: flex;
    align-items: center;
    gap: 8%;

    .container-img {
        width: 34%;
    }

    .container-text {
        width: 58%;
    }

    img {
        width: 100%;
    }
}

/* @media (max-width: 1023px) {
    .recyclable {
        flex-direction: column;
        grid-area: 6 / 1 / 7 / 13;
    }
} */

.retail {
    grid-area: 6 / 5 / 7 / 12;
    display: flex;
    align-items: center;
    gap: 9%;

    .container-img {
        width: 39%;
    }

    .container-text {
        width: 52%;
    }

    img {
        width: 100%;
    }
}

/* @media (max-width: 1023px) {
    .retail {
        flex-direction: column;
        grid-area: 7 / 1 / 8 / 13;
    }
} */

@media (max-width: 1023px) {
    .activity {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .activity img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .activity .container-img {
        width: 45%;
        height: 100%;
    }

    .distribution {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }

    .production {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }

    .international-log {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }

    .warehouse-log {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }

    .building {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }

    .recyclable {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }

    .retail {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .container-img {
            width: 100%;
        }

        .container-text {
            width: 100%;
            gap: 14px;
        }
    }


}

.work-model {
    background: var(--red-gradient);
    padding: 40px 10% 60px 10%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.work-model-wrapper {
    background: var(--white);
    border-radius: 20px;
    padding: 60px 135px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h3 {
        font-weight: lighter;
    }
}

.work-model-main {
    display: flex;
    width: 100%;
    gap: 5%;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.name-container-item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    height: 40px;

    p {
        text-align: left;

    }
}

.model-container {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.model-container-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 26.5%;
}


.model-item {
    background: var(--red-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    box-shadow: var(--shadow-base);
}



.model-item:hover {
    background: var(--red-hover);
}

.model-item-disable {
    background: var(--grey-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}



.work-model-add {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.model-add-container {
    padding: 0 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 24px;
}

.model-add-item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background: var(--grey-gradient);
    box-shadow: var(--shadow-base);
    border-radius: 10px;
    height: 54px;
    width: 30%;

    p {
        text-align: left;
    }
}

@media (min-width: 950px) and (max-width: 1200px) {
    .work-model-wrapper {
        padding: 30px 70px;
    }

    .work-model-main {
        gap: 5%;
    }

    .name-container {
        width: 40%;
    }
}

@media (max-width: 949px) {
    .work-model {
        padding: 30px 5% 45px 5%;
    }

    .work-model-wrapper {
        padding: 24px;

        h3 {
            font-weight: normal;
        }
    }

    .name-container {
        gap: 20px
    }

    .name-container-item {
        padding: 0px;
    }

    .model-container-col {
        gap: 20px;
    }

    .model-item {
        height: 40px;
    }

    .model-item-disable {
        height: 40px;
    }

    .model-item-disable>img {
        height: 10px;
    }

    .model-item>img {
        height: 10px;
    }

    .model-add-container {
        justify-content: space-evenly;
    }

    .model-add-item {
        width: 38%;

        p {
            font-size: 12px;
        }
    }
}

@media (max-width: 550px) {
    .work-model .container-heading {
        margin-left: 5%;

        h2 {
            width: min-content;
        }

    }

    .name-container {
        gap: 28px;
    }

    .name-container-item {
        gap: 8px;
        height: 30px;

        p {
            font-size: 12px;
        }

        img {
            width: 12px;
        }
    }

    .model-container {
        padding-top: 26px;

        .model-container-col {
            gap: 28px;
        }

        .model-item {
            height: 30px;
            font-size: 12px;
        }

        .model-item-disable {
            height: 30px;
            font-size: 12px;
        }
    }

    .model-add-item {
        width: 100%;
    }
}

.partners>.heading-container {
    margin-left: 10%;
}

.marquee-wrapper {
    padding: 60px 0 160px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.marquee-container {
    overflow: hidden;
}

.marquee-track {
    display: flex;
    gap: 40px;
    align-items: center;
}

.marquee-track>div {
    width: 200px;
}

.marquee-track>div>img {
    user-select: none;
}

.right-to-left .marquee-track {
    animation: move-left 30s linear infinite;
}

.left-to-right .marquee-track {
    animation: move-right 30s linear infinite;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1023px) {
    .marquee-wrapper {
        gap: 40px;
        padding: 45px 0 120px 0;

        img {
            width: 120px;
            height: auto
        }
    }
}